/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@500;600&family=Alex+Brush&display=swap');

@font-face {
  font-family: 'Motterdam';
  src: url('/assets/motterdam-font/Motterdam-K74zp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
 background: #0A192F;
  color: #E6F1FF;
  // font-family: 'Poppins', sans-serif;
  padding-top: 90px; // match your navbar height

}

.NizamJw{
  // font-family: "Great Vibes", cursive;
  font-family: 'Motterdam';
  font-weight: 400;
  font-style: normal;
}
.fade-section {
  opacity: 0;
  transform: translateY(80px);
  transition: all 1s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}

a{
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

/* Logo */
.logo {
  // font-family: 'Alex Brush', cursive;
}